* {
  box-sizing: border-box;
  font-family: system-ui, sans-serif;
  font-weight: normal;
}

html {
  font-size: 18px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  color: #ffffff;
  height: 100vh;
  padding: 0 20px; /* Horizontales Padding für den Abstand zum Rand */
}

button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  font-size: 20px;
  border: none;
  border-radius: 50%;
  background-color: #ffffff;
  color: black;
  cursor: pointer;
  width: 200px;
  height: 200px;
  font-family: 'Cherry Cream Soda', cursive;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #fae155;
}


#response {
  font-size: 50px;
  text-align: center;
  width: 100%;
  transition: color 0.3s ease; /* Übergang für die Farbänderung hinzufügen */
}

#response:hover {
  color: #fae155; /* Textfarbe auf Gelb ändern */
}

.poem {
  font-family: 'Cherry Cream Soda', cursive;
  font-size: 25px;
  line-height: 1.5;
  position: absolute; /* Absolute Positionierung für den Text */
  bottom: 100px; /* Text etwas höher positionieren */
  color: #ffffff;
}


@keyframes blink {
  0% { background-color: #ffffff; }
  50% { background-color: #fae155; }
  100% { background-color: #ffffff; }
}

.blinking {
  animation: blink 1s infinite;
}